/target/
/conf/db.properties
/misc/
/temp/
/log/
/bin/
/.svn/
/.settings/
/.project
/.classpath
/dependency-reduced-pom.xml
/settime.log
/shutdown.log
/reset_can_bus.log
/log/
/db_dumps/
/node_modules/
/web/workspace.code-workspace
/samples/
/Nextion/orig_icons/
/web/gmap.key
/StoredCredential
/package-lock.json
/gdrive_credentials.json
/.idea/
/NMEARouter.iml
ansible_pi/gmap.key
