/target/
/conf/db.properties
/misc/
/temp/
/log/
/bin/
/.svn/
/.settings/
/.project
/.classpath
/dependency-reduced-pom.xml
/settime.log
/shutdown.log
/NMEARouter.log
/NMEARouter.log.1
/NMEARouter.log.lck
/db_dumps/
/deploy
/deployProd
/node_modules/
/web/workspace.code-workspace
