<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Andrea Boni NMEARouter</title>
<link href="css/bootstrap.min.css?1" rel="stylesheet">
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.darkb {
    background-color: darkgray;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

</style>

</head>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript">
    var app = angular.module("nmearouter", []);

    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", "http://" + window.location.hostname + ":1112/agentsj" , false);
    xmlHttp.setRequestHeader('Content-Type', 'text/plain');
    xmlHttp.send( null );
    var agentList = JSON.parse(xmlHttp.responseText).agents;
    var msg = "-";
    setColors(agentList);
    agentList.sort(compare);
    
    var filterDlg = document.getElementById('filterDialog');
    var closeBtn = document.getElementById('closeFilterDialog');
    
    app.controller("myCtrl", function($scope) {
        $scope.agents = agentList  
        $scope.message = msg;
    });
       
    function showFilter(a, inout) {
        document.getElementById("filterDialogLabel").innerHTML = "Filter for " + a.name + " [" + inout + "]";
        document.getElementById("agent").value = a.name;
        
        for (var i = 0; i<agentList.length; i++) {
            if (a.name==agentList[i].agent) {
                document.getElementById("inout").value = inout;
                if (("out"==inout && "true"==agentList[i].hasFilterOut) ||
                ("in"==inout && "true"==agentList[i].hasFilterIn)) {
                    var x = ("out"==inout)?agentList[i].filterOut:agentList[i].filterIn;
                    var ss = "";
                    for (var j = 0; j<x.filters.length; j++) {
                        if (j!=0) ss += ",";
                        ss += x.filters[j].sentence;
                    }
                    document.getElementById("sentences").value = ss;
                    document.getElementById("filtertype").selectedIndex = (x.type=="whitelist")?1:0;
                } else {
                    document.getElementById("sentences").value = "";
                    document.getElementById("filtertype").selectedIndex = 0;
                }
            }
        }
        
        filterDialog.style.display = "block";
    }
    
    function hideFilter() {
        filterDialog.style.display = "none";
    }
    
    function commitFilter() {
        hideFilter();
        updateFilter(
                document.getElementById("agent").value,
                document.getElementById("inout").value,
                document.getElementById("sentences").value,
                document.getElementById("filtertype").selectedIndex==0?"blacklist":"whitelist"
        );
        
    }
    
    function updateFilter(agent, inout, sentences, tp) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "http://" + window.location.hostname + ":1112/filter" + inout +"?agent=" + agent + "&sentences=" + sentences + 
                "&type=" + tp, false);
        xmlHttp.setRequestHeader('Content-Type', 'text/plain');
        xmlHttp.send( null );
        var json = JSON.parse(xmlHttp.responseText);
        agentList = json.agents;
        var msg = json.message;
        var controllerElement = document.getElementById('nmearouter');
        var controllerScope = angular.element(controllerElement).scope();
        setColors(agentList);
        agentList.sort(compare);
        controllerScope.agents = agentList;
        controllerScope.message = msg;  
        controllerScope.$evalAsync();
    }
    
    function setColors(agentList) {
        for (var i = 0; i<agentList.length; i++) {
            var a = agentList[i];
            if (a.started=='false') a.color = "#222222";
            else a.color = "#33AA33";
        }
    }    
    
    function compare(a, b) {
        if (a.builtin=="true" && b.builtin=="false") return 1
        else if (a.builtin=="false" && b.builtin=="true") return -1;
        else {
            if (a.agent < b.agent) return -1;
            else if (a.agent > b.agent) return 1;
            else return 0;
        }
    } 
    
    function httpGetSyn(a, active) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "http://" + window.location.hostname + ":1112/agentsj?agent=" + a.name + "&active=" + active , false);
        xmlHttp.setRequestHeader('Content-Type', 'text/plain');
        xmlHttp.send( null );
        var json = JSON.parse(xmlHttp.responseText);
        agentList = json.agents;
        var msg = json.message;
        var controllerElement = document.getElementById('nmearouter');
        var controllerScope = angular.element(controllerElement).scope();
        setColors(agentList);
        agentList.sort(compare);
        controllerScope.agents = agentList;
        controllerScope.message = msg;  
        controllerScope.$evalAsync();
    }
   
    function httpGetSynAuto(a, auto) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "http://" + window.location.hostname + ":1112/agentsj?agent=" + a.name + "&auto=" + auto , false);
        xmlHttp.setRequestHeader('Content-Type', 'text/plain');
        xmlHttp.send( null );
        var json = JSON.parse(xmlHttp.responseText);
        agentList = json.agents;
        var msg = json.message;
        var controllerElement = document.getElementById('nmearouter');
        var controllerScope = angular.element(controllerElement).scope();
        setColors(agentList);
        agentList.sort(compare);
        controllerScope.agents = agentList;
        controllerScope.message = msg;  
        controllerScope.$evalAsync();
    }
   
    </script>

<body ng-app="nmearouter">

    <div id="nmearouter" class="container-fluid" ng-controller="myCtrl">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Agents</li>
        </ol>
        
        <div class="row">
            <div class="col-lg-3 col-sm-4" ng-repeat="a in agents" ng-if="a.builtin=='false'">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background: {{a.color}}" >
                        <h2 class="panel-title">{{a.agent}}</h2>
                    </div>
                    <div class="panel-body" style="height: 200px">
                        <table width="100%">
                            <tr>
                                <td style="padding: 5px" colspan="4"><b>{{a.type}}</b></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px" align="center">
                                    <div ng-if="a.source=='true'">
                                       <div ng-if="a.hasFilterIn=='true'">
                                           <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick='showFilter(this, "in")'>
                                               <span class="glyphicon glyphicon glyphicon-filter" style="color:blue" aria-hidden="true"> In</span>
                                           </button>
                                       </div>
                                       <div ng-if="a.hasFilterIn=='false'">
                                           <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick='showFilter(this, "in")'>
                                               <span class="glyphicon glyphicon glyphicon-filter" aria-hidden="true"> In</span>
                                           </button>
                                       </div>
                                    </div>
                                    <div ng-if="a.source=='false'">
                                          <button name={{a.agent}} type="button" class="btn darkb btn-xs">
                                              <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"> In</span>
                                          </button>
                                    </div>
                                </td>
                                <td style="padding: 5px" align="center">
                                    <div ng-if="a.target=='true'">
                                        <div ng-if="a.hasFilterOut=='true'">
                                            <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick='showFilter(this, "out")'>
                                                <span class="glyphicon glyphicon glyphicon-filter" style="color:blue" aria-hidden="true"> Out</span>
                                            </button>
                                        </div>
                                        <div ng-if="a.hasFilterOut=='false'">
                                            <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick='showFilter(this, "out")'>
                                                <span class="glyphicon glyphicon glyphicon-filter" aria-hidden="true"> Out</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div ng-if="a.target=='false'">
                                          <button name={{a.agent}} type="button" class="btn darkb btn-xs">
                                              <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"> Out</span>
                                          </button>
                                    </div>                                    
                                </td>
                                <td style="padding: 5px" align="center">
                                    <div ng-if="a.startStop=='true'">
                                        <div ng-if="a.auto=='false'">
                                            <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSynAuto(this, 1)">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"> Auto</span>
                                            </button>
                                        </div>
                                        <div ng-if="a.auto=='true'">
                                            <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSynAuto(this, 0)">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true">Auto </span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding: 5px" align="center">
                                    <div ng-if="a.startStop=='true'">
                                        <div ng-if="a.started=='false'">
                                            <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSyn(this, 1)">
                                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div ng-if="a.started=='true'">
                                            <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSyn(this, 0)">
                                                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                          </tr>
                          <tr>
                            <td style="padding: 5px" colspan="4">{{a.description}}</td>
                          </tr>
                       </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-4" ng-repeat="a in agents" ng-if="a.builtin=='true'">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background: {{a.color}}" >
                        <h2 class="panel-title"><span class="glyphicon glyphicon-wrench"></span> {{a.agent}}</h2>
                    </div>
                    <div class="panel-body" style="height: 100px">
                        <table width="100%">
                            <tr>
                                <td style="padding: 5px" colspan="4"><b>{{a.type}}</b></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px" width="25%" align="center">&nbsp;</td>
                                <td style="padding: 5px" width="25%" align="center">&nbsp;</td>
                                <td style="padding: 5px" width="25%" align="center">&nbsp;</td>
                                <td style="padding: 5px" width="25%" align="center">
	                                <div ng-if="a.startStop=='true'">
	                                <div ng-if="a.started=='false'">
	                                <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSyn(this, 1)">
	                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
	                                </button>
	                                </div>
	                                <div ng-if="a.started=='true'">
	                                <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSyn(this, 0)">
	                                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
	                                </button>
	                                </div>
	                                </div>
	                            </td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- div class="row">      
        <div class="table-responsive" >

            <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Agents</h3>
                  </div>
                <table id="agentGrid" class="table table-hover table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Agent</th>
                            <th>Type</th>
                            <th>Details</th>
                            <th>Source</th>
                            <th>Target</th>
                            <th>Auto</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in agents" style="background: {{a.color}}" ng-if="a.builtin=='false'">
                            <td>{{a.agent}}</td>
                            <td>{{a.type}}</td>
                            <td>{{a.description}}</td>
                            <td align="center">
                                <div ng-if="a.source=='true'">
                                    <div ng-if="a.hasFilterIn=='true'">
                                        <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick='showFilter(this, "in")'>
                                            <span class="glyphicon glyphicon glyphicon-filter" style="color:blue" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div ng-if="a.hasFilterIn=='false'">
                                        <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick='showFilter(this, "in")'>
                                            <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td align="center">
                                <div ng-if="a.target=='true'">
                                    <div ng-if="a.hasFilterOut=='true'">
                                        <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick='showFilter(this, "out")'>
                                            <span class="glyphicon glyphicon glyphicon-filter" style="color:blue" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div ng-if="a.hasFilterOut=='false'">
                                        <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick='showFilter(this, "out")'>
                                            <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td align="center">
                                <div ng-if="a.startStop=='true'">
                                    <div ng-if="a.auto=='false'">
                                        <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSynAuto(this, 1)">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div ng-if="a.auto=='true'">
                                        <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSynAuto(this, 0)">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td align="center">
                                <div ng-if="a.startStop=='true'">
                                    <div ng-if="a.started=='false'">
                                        <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSyn(this, 1)">
                                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div ng-if="a.started=='true'">
                                        <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSyn(this, 0)">
                                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr ng-repeat="a in agents" style="background: {{a.color}}" ng-if="a.builtin=='true'">
                            <td>{{a.agent}}</td>
                            <td>{{a.type}}</td>
                            <td>{{a.description}}</td>
                            <td align="center"><div ng-if="a.source=='true'"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div></td>
                            <td align="center"><div ng-if="a.target=='true'"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div></td>
                            <td align="center">&nbsp;</td>
                            <td align="center">
                                <div ng-if="a.startStop=='true'">
                                <div ng-if="a.started=='false'">
                                <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSyn(this, 1)">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </button>
                                </div>
                                <div ng-if="a.started=='true'">
                                <button name={{a.agent}} type="button" class="btn darkb btn-xs" onclick="httpGetSyn(this, 0)">
                                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                </button>
                                </div>
                                </div>
                            </td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
        </div-->
        
     <div class="row"> 
        <div class="panel panel-primary">
                 <div class="panel-heading">
                   <h3 class="panel-title">Message</h3>
                 </div>
              <div class="panel-body"><em>{{message}}</em></div>
          </div>
        
    </div>
    </div>

    <!-- The Modal -->
	<div id="myModal" class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close">&times;</span>
	    <p>Some text in the Modal..</p>
	  </div>
	
	</div>
    
    <div id="filterDialog" class="modal">
        <div class="modal-content">
            <div class="panel panel-primary">
	            <div class="panel-heading">
	              <h3 class="panel-title" id="filterDialogLabel">Filters for xyz</h3>
	            </div>
                <div class="panel-body">
	                <form>
	                    <input type="hidden" id="agent"/>
	                    <input type="hidden" id="inout"/>
	                    <div class="form-group">
	                        <label for="sentences">Sentence list (comma separated):</label>
	                        <input type="text" class="form-control" id="sentences">
                        </div>
	                    <div class="form-group">
	                        <label for="exampleSelect2">Filter type:</label>
	                        <select class="form-control" id="filtertype">
                                <option>Blacklist</option>
	                            <option>Whitelist</option>
	                        </select>
	                    </div>
	                    <button type="reset" class="btn darkb btn-secondary" onClick="hideFilter()">Cancel</button>
	                    <button type="submit" class="btn darkb btn-primary" onClick="commitFilter()">Ok</button>
	               </form>
               </div>
           </div>
        </div>
    </div>
    
</body>
</html>