<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Andrea Boni NMEARouter</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="nmearouter">
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript">
    var app = angular.module("nmearouter", []);

    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", "http://" + window.location.hostname + ":1112/agentsj" , false);
    xmlHttp.setRequestHeader('Content-Type', 'text/plain');
    xmlHttp.send( null );
	var agentList = JSON.parse(xmlHttp.responseText).agents;
	var msg = "-";
	
	for (var i = 0; i<agentList.length; i++) {
		var a = agentList[i];
		if (a.builtin=='false' && a.started=='false') a.color = "lightgray";
		else if (a.builtin=='false' && a.started=='true') a.color = "lightgreen";
		else if (a.builtin=='true' && a.started=='false') a.color = "lightblue";
		else a.color = "lightyellow";
	}
	
	
	app.controller("myCtrl", function($scope) {
		$scope.agents = agentList.sort(compare);  
		$scope.message = msg;  
	});
   	
    function compare(a, b) {
    	if (a.builtin=="true" && b.builtin=="false") return 1
    	else if (a.builtin=="false" && b.builtin=="true") return -1;
    	else {
		    if (a.agent < b.agent) return -1;
		    else if (a.agent > b.agent) return 1;
		    else return 0;
	    }
    } 
    
    function httpGetSyn(a, active) {
	    var xmlHttp = new XMLHttpRequest();
	    xmlHttp.open( "GET", "http://" + window.location.hostname + ":1112/agentsj?agent=" + a.name + "&active=" + active , false);
	    xmlHttp.setRequestHeader('Content-Type', 'text/plain');
	    xmlHttp.send( null );
	    var json = JSON.parse(xmlHttp.responseText);
		var agentList = json.agents.sort(compare);
		var msg = json.message;
		var controllerElement = document.getElementById('agentGrid');
		var controllerScope = angular.element(controllerElement).scope();
		controllerScope.agents = agentList;
		controllerScope.message = msg;  
		controllerScope.$evalAsync();
	}
   
	</script>


	<div id="nmearouter" class="container-fluid" ng-controller="myCtrl">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
		  <li class="breadcrumb-item active">Agents</li>
		</ol>      
		<div class="table-responsive" >

			<div class="panel panel-default">
  				<div class="panel-heading">
    				<h3 class="panel-title">Agents</h3>
  				</div>
				<table id="agentGrid" class="table table-hover table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>Agent</th>
							<th>Type</th>
							<th>Source</th>
							<th>Target</th>
							<th>BuiltIn</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="a in agents" style="background: {{a.color}}">
							<td>{{a.agent}}</td>
							<td>{{a.type}}</td>
							<td align="center"><div ng-if="a.source=='true'"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div></td>
							<td align="center"><div ng-if="a.target=='true'"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div></td>
							<td align="center"><div ng-if="a.builtin=='true'"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div></td>
							<td align="center">
								<div ng-if="a.startStop=='true'">
								<div ng-if="a.started=='false'">
	                        	<button name={{a.agent}} type="button" class="btn btn-xs" onclick="httpGetSyn(this, 1)">
	                        		<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
	                        	</button>
	                        	</div>
								<div ng-if="a.started=='true'">
	                        	<button name={{a.agent}} type="button" class="btn btn-xs" onclick="httpGetSyn(this, 0)">
	                        		<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
	                        	</button>
	                        	</div>
	                        	</div>
	                        </td>
	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="panel panel-default">
 				<div class="panel-heading">
   				<h3 class="panel-title">Message</h3>
 				</div>
	  		<div class="panel-body"><em>{{message}}</em></div>
	  	</div>
		
	</div>
</body>
</html>