<!DOCTYPE html>
<html xml:lang="en">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andrea Boni NMEARouter</title>
    <script src="js/nmearouter.js?G"></script>
    <link href="css/nmearouter.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="nmeasail.png">
</head>
<script>
var ais_data_empty = {
    targets: []
};

var ais_data = ais_data_empty;

loadAIS();

setInterval(loadAndUpdate, 2000);

var s_current;
var show_mmsi = '';

app.controller("myCtrl", function($scope, $sce) {
    $scope.data = ais_data
});

function loadAndUpdate() {
    loadAIS();
    controllerElement = document.getElementById('aistargets');
    var controllerScope = angular.element(controllerElement).scope();
    controllerScope.data = ais_data;
    controllerScope.s_current = s_current;
    controllerScope.$evalAsync();
}

function loadAIS() {
    ais_data = httpGetAIS();
    ais_data.targets.sort(compare);
    s_current = null;
    for (i = 0; i<ais_data.targets.length; i++) {
        var a = ais_data.targets[i];
        if (a.MMSI==show_mmsi) s_current = a;
        if (20>a.distance) {
            a.x = 200 + 190 * (a.distance/20.0) * Math.cos(a.bearing / 180.0 * Math.PI);
            a.y = 200 + 190 * (a.distance/20.0) * Math.sin(a.bearing / 180.0 * Math.PI);
            a.show = "yes";
        } else {
            a.show = "no";
        }
    }
}

function compare(a, b) {
    if (a.distance<b.distance) return -1;
    else if (a.distance>b.distance) return 1;
    else return 0;
}

function setCurrent(itm) {
    show_mmsi = itm.id;
    loadAndUpdate();
}

</script>
<body id="aistargets" ng-app="nmearouter" ng-controller="myCtrl">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">AIS</li>
    </ol>
    <div class="container-fluid">
        <div class="row alert alert-heading">
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-xs-6">MMSI</div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 d-none d-sm-block">Name</div>
            <div class="col-xl-1 col-lg-1 d-none d-lg-block">Callsign</div>
            <div class="col-xl-1 col-lg-1 d-none d-lg-block">Dimension</div>
            <div class="col-xl-1 col-lg-1 d-none d-lg-block">Type</div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 d-none d-sm-block">Pos</div>
            <div class="col-xl-1 col-lg-1 col-md-2 d-none d-md-block">Nav</div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-xs-6">Dist.</div>
            <div class="col-xl-2 d-none d-xl-block">Status</div>
            <div class="col-xl-1 col-lg-1 col-md-1 d-none d-md-block">Age</div>
        </div>
        <div class="row alert alert-primary" ng-repeat="s in data.targets">
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-xs-6"><a href="#" id ="{{s.MMSI}}" onclick="setCurrent(this);">{{s.MMSI}}</a></div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 d-none d-sm-block">{{s.name}}</div>
            <div class="col-xl-1 col-lg-1 d-none d-lg-block">{{s.callsign}}</div>
            <div class="col-xl-1 col-lg-1 d-none d-lg-block">{{s.length}} m<br>{{s.beam}} m</div>
            <div class="col-xl-1 col-lg-1 d-none d-lg-block">{{s.vessel_type}}</div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 d-none d-sm-block">{{s.s_latitude}}<br>{{s.s_longitude}}</div>
            <div class="col-xl-1 col-lg-1 col-md-2 d-none d-md-block">{{s.SOG | number:1}} Kn<br>{{s.COG | number:0}}&deg;</div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-xs-6">{{s.distance | number:1}} Nm<br>{{s.bearing | number:0}}&deg;</div>
            <div class="col-xl-2 d-none d-xl-block">{{s.status}}</div>
            <div class="col-xl-1 col-lg-1 col-md-1 d-none d-md-block">{{s.s_age}}</div>
        </div>
        <div class="row">
            <div class="col-12">
                <svg width="400" height="400" style="display: block; margin: auto;">
                    <circle cx="50%" cy="50%" r="190" stroke="gray" stroke-width="3" fill="#EEEEFF"></circle>
                    <line x1="10" y1="200" x2="390" y2="200" stroke="gray" stroke-width="3"/>
                    <line x1="200" y1="10" x2="200" y2="390" stroke="gray" stroke-width="3"/>
                    <circle ng-repeat="s in data.targets" cx="{{s.x}}" cy="{{s.y}}" r="2" stroke="gray"
                            stroke-width="2" fill="{{s.color}}"></circle>
                    <text ng-if="s_current!=null" x="{{s_current.x}}" y="{{s_current.y}}" fill="blue" font-size="10">
                        <tspan x="{{s_current.x}}" dx="10">{{s_current.MMSI}}</tspan>
                        <tspan x="{{s_current.x}}" dx="10" dy="10">{{s_current.name}}</tspan>
                        <tspan x="{{s_current.x}}" dx="10" dy="10">{{s_current.distance | number:1}} Nm {{s_current.bearing | number:0}}&deg;</tspan>
                    </text>
                </svg>
            </div>            
        </div>
    </div>
</body>
</html>