<!DOCTYPE html>
<html xml:lang="en">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andrea Boni NMEARouter</title>
    <script src="js/nmearouter.js?G"></script>
    <link href="css/nmearouter.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="nmeasail.png">
</head>
<script>

    var gps_data_empty = {
        satsList: [],
        timestamp: 'N/A',
        latitude: 'N/A',
        longitude: 'N/A',
        SOG: 0,
        COG: 0,
        HDOP: 0,
        fix: 'N/A'
    };

    var gps_data = gps_data_empty;

    loadGPS();

    setInterval(loadAndUpdate, 5000);

	app.controller("myCtrl", function($scope, $sce) {
		$scope.data = gps_data
        $scope.sz = sz;
		$scope.to_trusted = function(html_code) {
		    return $sce.trustAsHtml(html_code);
		}
	});

    function loadAndUpdate() {
		loadGPS();
        controllerElement = document.getElementById('nmearouter');
        var controllerScope = angular.element(controllerElement).scope();
		controllerScope.data = gps_data;
        controllerScope.$evalAsync();
	}


    var sz = 250;

	function loadGPS() {
        var _gps_data = httpGetGps();
        if (_gps_data.Error==null) {
            gps_data = _gps_data;
            for (i = 0; i<gps_data.satsList.length; i++) {
                var a = gps_data.satsList[i];
                if (!a.used) {
                    a.color = "#222222";
                    a.used_str = "No";
                } else {
                    a.color = "#33AA33";
                    a.used_str = "Yes";
                }
                if (a.id!="255") {
                    a.x = 200 + 190 * Math.cos(a.azimuth / 180.0 * Math.PI) * Math.cos(a.elevation / 180.0 * Math.PI);
                    a.y = 200 + 190 * Math.sin(a.azimuth / 180.0 * Math.PI) * Math.cos(a.elevation / 180.0 * Math.PI);
                } else {
                    a.x = 150;
                    a.y = 150;
                }
            }
            gps_data.satsList.sort(compare);
        } else {
            gps_data = gps_data_empty;      
        }
    }
    

	function compare(a, b) {
		if (a.used && !b.used)
			return -1
		else if (!a.used && b.used)
			return 1;
		else {
			if (a.id < b.id)
				return -1;
			else if (a.id > b.id)
				return 1;
			else
				return 0;
		}
    }

</script>
<body ng-app="nmearouter">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">GPS</li>
</ol>
<div id="nmearouter" class="container-fluid" ng-controller="myCtrl">
    <div class="row alert alert-primary">
        <div class="col-4 col-md-4  col-sm-12">
            <table width="100%">
                <tr>
                    <td width="50%">Fix</td>
                    <td width="50%" style="text-align: right;">{{data.fix}}</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td style="text-align: right;">{{data.timestamp}}</td>
                </tr>
                <tr>
                    <td>Lat</td>
                    <td style="text-align: right;">{{data.longitude}}</td>
                </tr>
                <tr>
                    <td>Lon</td>
                    <td style="text-align: right;">{{data.latitude}}</td>
                </tr>
                <tr>
                    <td>COG</td>
                    <td style="text-align: right;">{{data.COG | number:2}}&deg;</td>
                </tr>
                <tr>
                    <td>SOG</td>
                    <td style="text-align: right;">{{data.SOG | number:2}} Kn</td>
                </tr>
                <tr>
                    <td>HDOP</td>
                    <td style="text-align: right;">{{data.HDOP | number:2}}</td>
                </tr>
            </table>
        </div>
        <div class="col-8 col-md-8 col-sm-12">
            <svg width="400" height="400" style="display: block; margin: auto;">
                <circle cx="50%" cy="50%" r="190" stroke="gray" stroke-width="3" fill="#EEEEFF"></circle>
                <circle cx="50%" cy="50%" r="95" stroke="gray" stroke-width="3" fill="#EEFFFF"></circle>
                <line x1="10" y1="200" x2="390" y2="200" stroke="gray" stroke-width="3"/>
                <line x1="200" y1="10" x2="200" y2="390" stroke="gray" stroke-width="3"/>
                <circle ng-repeat="s in data.satsList" cx="{{s.x}}" cy="{{s.y}}" r="12" stroke="gray"
                        stroke-width="2" fill="{{s.color}}"></circle>
                <text ng-repeat="s in data.satsList" x="{{s.x}}" y="{{s.y}}" text-anchor="middle"
                      alignment-baseline="middle" fill="white">{{s.id}}
                </text>
            </svg>
        </div>
    </div>
    <div class="row alert alert-heading">
        <div class="col-1">SRN</div>
        <div class="col-2">Name</div>
        <div class="col-2">Signal</div>
        <div class="col-2">Orbit</div>
        <div class="col-1">Clock</div>
        <div class="col-1">Elevation</div>
        <div class="col-1">Azimuth</div>
        <div class="col-1">Noise</div>
        <div class="col-1">In use</div>
    </div>
    <div class="row alert alert-primary" ng-repeat="s in data.satsList" ng-if="s.id!='255'">
        <div class="col-1">{{s.id}}</div>
        <div class="col-2">{{s.name}}</div>
        <div class="col-2">{{s.signal}}</div>
        <div class="col-2">{{s.orbit}}</div>
        <div class="col-1">{{s.clock}}</div>
        <div class="col-1">{{s.elevation}}&deg;</div>
        <div class="col-1">{{s.azimuth}}&deg;</div>
        <div class="col-1">{{s.noise}}db</div>
        <div class="col-1">{{s.used_str}}</div>
    </div>
</div>
</body>
</html>