<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Andrea Boni NMEARouter</title>
  <link rel="icon" type="image/png" href="nmeasail.png">
  <script src="js/nmearouter.js?z4"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB923F46BW5wnvAKd0pztCa37YCUx64ARo&callback=initMap"
    async defer></script>

  <style>
    /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .darkb {
      background-color: darkgray;
    }

    .fill {
      min-height: 100%
    }

    .DocumentList {
      overflow-y: scroll;
      height: 200px;
      width: 100%;
      padding: 0 15px;
    }

    .tripBack {
      background: #eeeeee;
      border-radius: 5px;
      padding: 5px;
    }

    .panelRouter {
      height: 300px;
    }

    .info_cell {
      padding-bottom: 12px;
      padding-top: 6px;
      padding-right: 12px;
    }

    .chart-canvas {
      min-height: 100%;
      min-width: 100%;
    }

    #mapToolbar {
      position: absolute;
      bottom: 30px;
      left: 20px;

    }
  </style>

</head>

<script type="text/javascript">

  var tempChart = null;
  var windChart = null;
  var pressChart = null;
  var humChart = null;
  var speedChart = null;
  var speedAnalysisChart = null;

  var dateFrom = null;
  var dateTo = null;
  var tripId = null;

  var path = null;
  var map = null;
  var markerPos = null;

  var days;
  days = httpGetCruisingDays();
  app.controller("infoController", function ($scope) {
    $scope.days = days;
  });

  var no_trip = {
    name: "",
    id: 0,
    dist: 0,
    start: "",
    end: "",
    sailTime: "",
    totalTime: "",
    maxspeed: 0,
    maxspeed30: 0,
    avgspeed: 0,
    dist: 0
  };

  app.controller("myCtrl", function ($scope) {
    $scope.days = days;
  });


  function showTrip(d) {
    var split = d.name.split("."); 
    dateFrom = split[0];
    dateTo = split[1];
    tripId = split[2];
    refreshMap();
    refreshInfo();
  }

  function showDay(d) {
    dateFrom = d.name;
    dateTo = d.name;
    tripId = null;
    refreshMap();
    refreshInfo();
  }

  function editName(s) {
    var ss = s.name.split(".");
    var trip = ss[0];
    var name = ss[1];
    bootbox.prompt({
      title: "Trip description",
      message: "Edit description for trip '" + ss[1] + "'",
      value: ss[1],
      callback: function (result) {
        if (result != null) {
          changeName(trip, result);
        }
      }
    });
  }

  function askDeleteDay(d) {
    bootbox.confirm({
      message: "Confirm deleting track for " + d.name + "?",
      buttons: {
        confirm: {
          label: 'Yes',
          className: 'btn-success'
        },
        cancel: {
          label: 'No',
          className: 'btn-danger'
        }
      },
      callback: function (result) {
        if (result) {
          deleteDay(d);
        }
      }
    });
  }

  function refreshMap() {
    tempChart = refreshChart(tempChart, "tempChart", "AT0", 0);
    windChart = refreshChart(windChart, "windChart", "TW_", 1);
    pressChart = refreshChart(pressChart, "pressChart", "PR_", 0);
    humChart = refreshChart(humChart, "humChart", "HUM", 0);
    speedChart = refreshSpeedChart(speedChart, "speedChart");
    speedAnalysisChart = refreshSpeedAnalysisChart(speedAnalysisChart, "speedAnalysisChart");
    loadMap(dateFrom, dateTo);
  }

  function refreshSpeedChart(c, chart) {


    var ctx = document.getElementById(chart);

    ctx.onmousemove = function (evt) {
      if (speedChart != null) {
        var el = speedChart.getElementsAtEvent(evt);
        if (el.length > 0) {
          t = speedChart.data.datasets[0].data[el[0]._index].x;
          point = binarySearch(path, t, 0, path.length - 1);
          setMarker(point.lat, point.lng, "Here");
        }
      }
      //do something with the el object to display other information
      //elsewhere on the page
    }


    if (c != null) {
      c.destroy();
    }
    var c1 = new Chart(ctx, {
      type: 'line',
      data: httpLoadSpeedDateRange(dateFrom + "0000", dateTo + "2359", ctx.clientWidth),
      options: {
        scales: {
          xAxes: [{
            type: 'time',
          }]
        },
        tooltips: {
          callbacks: {
            label: function (tooltipItem, data) {
              ix = tooltipItem.index;
              _minSpeed = data.datasets[0].data[ix].y;
              _avgSpeed = data.datasets[1].data[ix].y;
              _maxSpeed = data.datasets[2].data[ix].y;
              return _minSpeed.toFixed(2) + " - " + _avgSpeed.toFixed(2) + " - " + _maxSpeed.toFixed(2);
            },
            title: function (tooltipItem, data) {
              ix = tooltipItem[0].index;
              _time = new Date(data.datasets[0].data[ix].x);
              _minSpeed = data.datasets[0].data[ix].y;
              _avgSpeed = data.datasets[1].data[ix].y;
              _maxSpeed = data.datasets[2].data[ix].y;
              return _time.toLocaleTimeString();
            }
          }
        }
      }
    });
    return c1;
  }

  function refreshSpeedAnalysisChart(c, chart) {
    var ctx = document.getElementById(chart);
    if (c != null) {
      c.destroy();
    }
    var c1 = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['0.5', '1.0', '1.5', '2.0', '2.5', '3.0', '3.5', '4.0', '4.5', '5.0', '5.5', '6.0',
          '6.5', '7.0', '7.5', '8.0', '8.5', '9.0', '9.5', '10.0', '10.5', '11.0', '11.5', '12.0'],
        datasets: [httpLoadSpeedAnalysisDateRange(dateFrom + "0000", dateTo + "2359", ctx.clientWidth)]
      },
      options: {}
    });
    return c1;
  }

  function refreshChart(c, chart, type, style) {
    var ctx = document.getElementById(chart);
    if (c != null) {
      c.destroy();
    }
    var c1 = new Chart(ctx, {
      type: 'line',
      data: httpLoadMeteoDateRange(type, style, dateFrom + "0000", dateTo + "2359", ctx.clientWidth),
      options: {
        scales: {
          xAxes: [{
            type: 'time',
          }]
        }
      }
    });
    return c1;
  }

  function loadMap(dtF, dtT) {
    path = httpGetTrack(dtF, dtT);
    var bounds = new google.maps.LatLngBounds();
    if (path.length > 0) {
      for (i = 0; i < path.length; i++) {
        bounds.extend(new google.maps.LatLng(path[i].lat, path[i].lng));
        bounds.extend(new google.maps.LatLng(path[i].lat, path[i].lng + 0.016));
        bounds.extend(new google.maps.LatLng(path[i].lat, path[i].lng - 0.016));
      }
    }
    var mPath = new google.maps.Polyline({
      path: path,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });
    map = new google.maps.Map(document.getElementById('map'), {
      mapTypeId: 'terrain'
    });
    var startPoint = { lat: path[0].lat, lng: path[0].lng };
    var marker = new google.maps.Marker({
      position: startPoint,
      title: 'Start'
    });
    var endPoint = { lat: path[path.length - 1].lat, lng: path[path.length - 1].lng };
    var marker1 = new google.maps.Marker({
      position: endPoint,
      title: 'End'
    });
    mPath.setMap(map);
    marker.setMap(map);
    marker1.setMap(map);
    map.setCenter(bounds.getCenter());
    map.fitBounds(bounds);
  }

  function setMarker(lat, lon, title) {
    if (map != null) {
      var p = { lat: lat, lng: lon };
      if (markerPos != null) {
        markerPos.setMap(null);
      }
      markerPos = new google.maps.Marker({
        position: p,
        title: title
      });
      markerPos.setMap(map);
    }
  }

  function downloadGPX() {
    window.open("http://" + window.location.hostname + ":1112/track?dateFrom=" + dateFrom +
      "&dateTo=" + dateTo + "&format=gpx", "_blank");
  }

  function downloadKML() {
    window.open("http://" + window.location.hostname + ":1112/track?dateFrom=" + dateFrom +
      "&dateTo=" + dateTo + "&format=kml", "_blank");
  }

  function binarySearch(d, t, s, e) {
    m = Math.floor((s + e) / 2);
    if (t == d[m].time) return d[m];
    if ((e - 1) == s) return Math.abs(d[s].time - t) > Math.abs(d[e].time - t) ? d[e] : d[s];
    if (t > d[m].time) return binarySearch(d, t, m, e);
    if (t < d[m].time) return binarySearch(d, t, s, m);
  }

  function refreshTrips() {
    days = httpGetCruisingDays();
    var controllerElement = document.getElementById('TripsPanel');
    var controllerScope = angular.element(controllerElement).scope();
    controllerScope.days = days;
    controllerScope.$evalAsync();
  }
  
  function refreshInfo() {
    var controllerElement = document.getElementById('panelInfo');
    var controllerScope = angular.element(controllerElement).scope();
    controllerScope.trip = (tripId!=null)?getTrip(tripId):getInfo(dateFrom, dateTo);
    controllerScope.$evalAsync();
  }


</script>

<body ng-app="nmearouter">

  <div id="nmearouter" class="container-fluid fill">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Track</li>
    </ol>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" style="min-width:400px">
        <div id="TripsPanel" class="panel panel-primary" ng-controller="myCtrl">
          <div class="panel-heading">
            <h3 class="panel-title">Tracking <span style="float: right" class="glyphicon glyphicon-refresh"
                aria-hidden="true" onclick="refreshTrips();"></span></h3>
          </div>
          <div id="panel_details" class="panel-body panelRouter">
            <div class="table-responsive DocumentList" style="height: 100%">
              <table class="table">
                <tr ng-repeat="t in days.trips">
                  <td>
                    <button name="{{t.trip}}.{{t.lastDay}}" type="button" class="btn darkb btn-xs"
                      onclick="tripIt(this)">
                      <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>
                    <button ng-if="t.tripLabel!=''" name="{{t.trip}}.{{t.tripLabel}}" type="button"
                      class="btn darkb btn-xs" onclick="editName(this)">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>
                    <button ng-if="t.tripLabel!=''" name="{{t.trip}}" type="button" class="btn darkb btn-xs"
                      onclick="tripInfo(this)">
                      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td><a href="#" name="{{t.firstDay}}.{{t.lastDay}}.{{t.trip}}"
                      onclick="showTrip(this)"><b>{{t.tripLabel}}</b></a></td>
                  <td>
                    <div style="float:left;" ng-repeat="d in t.dates">
                      <button name="{{d.ref}}" type="button" class="btn darkb btn-xs" style="margin:3px;"
                        onclick="showDay(this)">{{d.dayShort}}</button>
                      <button ng-if="t.tripLabel==''" name="{{d.ref}}" type="button" class="btn darkb btn-xs"
                        onclick="askDeleteDay(this)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </button>
                      &nbsp;&nbsp;
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12" style="min-width:400px">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Map</h3>
          </div>
          <div class="panel-body panelRouter" style="padding: 0%; margin: 0%">
            <div id="map" style="width: 100%; height: 100%"></div>
            <div id="mapToolbar">
              <button name="dwlGPX" type="button" class="btn btn-default" onclick="downloadGPX()">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>GPX
              </button>
              <button name="dwlMKL" type="button" class="btn btn-default" onclick="downloadKML()">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>KML
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12" style="min-width:400px">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Trip</h3>
          </div>
          <div id="panelInfo" class="panel-body panelRouter" ng-controller="infoController">
            <table>
              <tr><td class="info_cell">Name</td><td class="info_cell">{{trip.name}}</td></tr>
              <tr><td class="info_cell">Dates</td><td class="info_cell">{{trip.start}} - {{trip.end}}</td></tr>
              <tr><td class="info_cell">Distance</td><td class="info_cell"><b>{{trip.dist | number:2}}NM</b></td></tr>
              <tr><td class="info_cell">Sail time</td><td class="info_cell"><b>{{trip.sailTime}}</b></td></tr>
              <tr><td class="info_cell">Max Speed</td><td class="info_cell"><b>{{trip.maxspeed | number:2}}Kn</b></td></tr>
              <tr><td class="info_cell">Max 30s Avg Speed</td><td class="info_cell"><b>{{trip.maxspeed30 | number:2}}Kn</b></td></tr>
              <tr><td class="info_cell">Avg Speed</td><td class="info_cell"><b>{{trip.avgspeed | number:2}}Kn</b></td></tr>
            </table>
          </div>
        </div>
      </div>
  

      <div class="col-lg-4 col-md-6 col-sm-12" style="min-width:400px">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Speed</h3>
          </div>
          <div class="panel-body panelRouter">
            <canvas class="chart-canvas" id="speedChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12" style="min-width:400px">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Speed Analysis</h3>
          </div>
          <div class="panel-body panelRouter">
            <canvas class="chart-canvas" id="speedAnalysisChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12" style="min-width:400px">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Wind</h3>
          </div>
          <div class="panel-body panelRouter">
            <canvas class="chart-canvas" id="windChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12" style="min-width:400px">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Temperature</h3>
          </div>
          <div class="panel-body panelRouter">
            <canvas class="chart-canvas" id="tempChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12" style="min-width:400px">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Pressure</h3>
          </div>
          <div class="panel-body panelRouter">
            <canvas class="chart-canvas" id="pressChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12" style="min-width:400px">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Humidity</h3>
          </div>
          <div class="panel-body panelRouter">
            <canvas class="chart-canvas" id="humChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>