<!DOCTYPE html>
<html xml:lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andrea Boni NMEARouter</title>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="js/nmearouter.js?b13"></script>
    <link href="css/nmearouter.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="nmeasail.png">
    <script>
    $.getScript("https://maps.googleapis.com/maps/api/js?key=" + getGKey(), function(data, textStatus, jqxhr) {
      console.log(data); //data returned
      console.log(textStatus); //success
      console.log(jqxhr.status); //200
      console.log('GMAP API Lodaded');
      $.getScript("js/maplabel.js", function(d, t, j) {
        console.log('GMAP Labels API Lodaded');
      });
    });
  </script>

  <style>
    /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
    #map {
      height: 100%;
    }

    .documentList {
      overflow-y: scroll;
      height: 200px;
      width: 100%;
      padding: 5px 5px;
    }

    .card-track-header {
    }

    .card-track-body {
      height: 320px;
    }

    .card-track {
    }

    .info_cell {
      padding-bottom: 12px;
      padding-top: 6px;
      padding-right: 12px;
    }

    .chart-canvas {
      min-height: 100%;
      min-width: 100%;
    }

    #mapToolbar {
      position: absolute;
      bottom: 30px;
      left: 20px;

    }
  </style>

</head>

<script type="text/javascript">

  var dateFrom = null;
  var dateTo = null;
  var tripId = null;

  var path = null;
  var map = null;
  var markerPos = null;

  var days;
  days = httpGetCruisingDays();
  app.controller("infoController", function ($scope) {
    $scope.days = days;
  });

  var no_trip = {
    name: "",
    id: 0,
    dist: 0,
    start: "",
    end: "",
    sailTime: "",
    totalTime: "",
    maxspeed: 0,
    maxspeed30: 0,
    avgspeed: 0,
    dist: 0
  };

  app.controller("myCtrl", function ($scope) {
    $scope.days = days;
  });

  function showTrip(d) {
    var split = d.name.split("."); 
    dateFrom = split[0];
    dateTo = split[1];
    tripId = split[2];
    refreshMap();
  }

  function showDay(d) {
    dateFrom = d.name;
    dateTo = d.name;
    tripId = null;
    refreshMap();
  }

  function showAnalytics(s) {
    var ss = s.split("|");
    var trip = ss[1];
    var name = ss[2];
    window.location.href = "trip.html?trip=" + trip + "&name=" + encodeURI(name);
  }

  function editName(s) {
    var ss = s.split("|");
    var trip = ss[1];
    var name = ss[2];
    bootbox.prompt({
      title: "Trip description",
      message: "Edit description for trip '" + ss[2] + "'",
      value: ss[2],
      callback: function (result) {
        if (result != null) {
          changeName(trip, result);
        }
      }
    });
  }

  function askDeleteDay(d) {
    bootbox.confirm({
      message: "Confirm deleting track for " + d.name + "?",
      buttons: {
        confirm: {
          label: 'Yes',
          className: 'btn-success'
        },
        cancel: {
          label: 'No',
          className: 'btn-danger'
        }
      },
      callback: function (result) {
        if (result) {
          deleteDay(d);
        }
      }
    });
  }

  var chartMap = new Map();

  function refreshMap() {
    refreshMeteoCharts()
    refreshSpeedChart("speedChart");
    refreshInfo();
    loadMap();
  }

  function refreshSpeedChart(chart) {
    var ctx = document.getElementById(chart);
    httpLoadSpeedDateRange(dateFrom + "0000", dateTo + "2359", function(res) {
      drawSpeedChart(res, chart);
    });
  }

  function getSerie(data, serie, attr, color) {
    return {
      		data: getDataPoints(data, serie, attr),
      		borderColor: color,
          pointRadius: 0,
          lineTension: 0,
          fill: false
      	};
  }

  function drawSpeedChart(data, chart) {
    var ctx = document.getElementById(chart);
    var c = chartMap.get(chart);
      if (c != null) {
        c.destroy();
      }
      var datasets = [];
      datasets.push(getSerie(data, "SOG", "v",    "blue"));
      datasets.push(getSerie(data, "SOG", "vMin", "gray"));
      datasets.push(getSerie(data, "SOG", "vMax", "orange"));
      var c1 = new Chart(ctx, {
        type: 'line',
        data: {
          datasets: datasets
        },
        options: {
          spanGaps: false,
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              type: 'time',
            }]
          },
					plugins: {
						zoom: {
							pan: {
								enabled: true,
								mode: 'x'
							},
							zoom: {
								enabled: true,
								mode: 'x'
							}
						}
					},
          tooltips: {
            callbacks: {
              label: function (tooltipItem, data) {
                ix = tooltipItem.index;
                _minSpeed = data.datasets[0].data[ix].y;
                _avgSpeed = data.datasets[1].data[ix].y;
                _maxSpeed = data.datasets[2].data[ix].y;
                return _minSpeed.toFixed(2) + " - " + _avgSpeed.toFixed(2) + " - " + _maxSpeed.toFixed(2);
              },
              title: function (tooltipItem, data) {
                ix = tooltipItem[0].index;
                _time = new Date(data.datasets[0].data[ix].x);
                return _time.toLocaleTimeString();
              }
            }
          }
        }
      });
      chartMap.set(chart, c1);    
  }

  function drawMeteoChart(data, chart, serie, min, avg, max) {
    var ctx = document.getElementById(chart);
    var c = chartMap.get(chart);
      if (c != null) {
        c.destroy();
      }
      var datasets = [];
      if (min!=0) datasets.push(getSerie(data, serie, "vMin", "gray"));
      if (avg!=0) datasets.push(getSerie(data, serie, "v",    "blue"));
      if (max!=0) datasets.push(getSerie(data, serie, "vMax", "orange"));
      var c1 = new Chart(ctx, {
        type: 'line',
        data: {
        	datasets: datasets
        },
        options: {
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              type: 'time',
            }]
          },
					plugins: {
						zoom: {
							pan: {
								enabled: true,
								mode: 'x'
							},
							zoom: {
								enabled: true,
								mode: 'x'
							}
						}
					}          
        }
      });
      chartMap.set(chart, c1);
  }

  function refreshMeteoCharts() {
    httpLoadAllMeteoDateRange(dateFrom + "0000" , dateTo + "2359", function(res) {
      drawMeteoChart(res, "tempChart", "AT0", 0, 1, 0);
      drawMeteoChart(res, "windChart", "TW_", 1, 1, 1);
      drawMeteoChart(res, "windAngleChart", "TWD", 0, 1, 0);
      drawMeteoChart(res, "pressChart", "PR_", 0, 0, 1);
      drawMeteoChart(res, "humChart", "HUM", 0, 1, 0);
    });    
  }

  function getDataPoints(data, name, attr) {
    var dt = [];
    var sr = data[name];
    var i;
    var lastT = 0;
    for (i = 0; i<sr.length; i++) {
      var item = sr[i];
      var t = item['time'];
      if (lastT==0 || lastT<t) {
        var datapoint = new Object();
        datapoint.x = new Date(t);
        datapoint.y = parseFloat(item[attr]);
        lastT = t;
      } else {
        console.log("Out of sync items!")
      }
      dt.push(datapoint);
    }
    return dt;
  }

  function resetZoom(chart) {
    var c = chartMap.get(chart);
    if (c != null) {
      c.resetZoom();
    }
  }

  function loadMap() {
    if (tripId!=null)
      httpGetTrackById(tripId, fillMap);
    else
      httpGetTrackByDate(dateFrom, dateTo, fillMap);
  }

  function fillMap(path) {
    var bounds = new google.maps.LatLngBounds();
    if (path.length > 0) {
      for (i = 0; i < path.length; i++) {
        bounds.extend(new google.maps.LatLng(path[i].lat, path[i].lng));
        bounds.extend(new google.maps.LatLng(path[i].lat, path[i].lng + 0.016));
        bounds.extend(new google.maps.LatLng(path[i].lat, path[i].lng - 0.016));
      }
    }
    var mPath = new google.maps.Polyline({
      path: path,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });
    map = new google.maps.Map(document.getElementById('map'), {
      mapTypeId: 'terrain'
    });
    var startPoint = { lat: path[0].lat, lng: path[0].lng };
    var marker = new google.maps.Marker({
      position: startPoint,
      title: 'Start'
    });
    var endPoint = { lat: path[path.length - 1].lat, lng: path[path.length - 1].lng };
    var marker1 = new google.maps.Marker({
      position: endPoint,
      title: 'End'
    });
    mPath.setMap(map);
    marker.setMap(map);
    marker1.setMap(map);
    map.setCenter(bounds.getCenter());
    map.fitBounds(bounds);
  }

  function setMarker(lat, lon, title) {
    if (map != null) {
      var p = { lat: lat, lng: lon };
      if (markerPos != null) {
        markerPos.setMap(null);
      }
      markerPos = new google.maps.Marker({
        position: p,
        title: title
      });
      markerPos.setMap(map);
    }
  }

  function downloadGPX() {
    window.open("http://" + window.location.hostname + ":1112/track?dateFrom=" + dateFrom +
      "&dateTo=" + dateTo + "&format=gpx", "_blank");
  }

  function downloadKML() {
    window.open("http://" + window.location.hostname + ":1112/track?dateFrom=" + dateFrom +
      "&dateTo=" + dateTo + "&format=kml", "_blank");
  }

  function refreshTrips() {
    days = httpGetCruisingDays();
    var controllerElement = document.getElementById('TripsPanel');
    var controllerScope = angular.element(controllerElement).scope();
    controllerScope.days = days;
    controllerScope.$evalAsync();
  }
  
  function refreshInfo() {
    if (tripId!=null) {
      getTripA(tripId, applyInfo);
    } else {
      getInfoA(dateFrom, dateTo, applyInfo);
    }
  }

  function applyInfo(info) {
    var controllerElement = document.getElementById('panelInfo');
    var controllerScope = angular.element(controllerElement).scope();
    controllerScope.trip = info;
    controllerScope.$evalAsync();
  }


</script>

<body ng-app="nmearouter">

  <div id="nmearouter" class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Track</li>
    </ol>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div id="TripsPanel" class="card-router card-track" ng-controller="myCtrl">
                <div class="card-router-header card-track-header">Tracking <span style="float: right"
                                                                                 class="glyphicon glyphicon-refresh"
                                                                                 aria-hidden="true"
                                                                                 onclick="refreshTrips();"></span></div>
                <div id="panel_details" class="card-router-body card-track-body">
                    <div class="table-responsive documentList" style="height: 100%">
                        <table class="table table-sm">
                            <tr ng-repeat="t in days.trips">
                                <td>
                                    <button id="btnTripIt|{{t.trip}}|{{t.lastDay}}" type="button"
                                            class="btn btn-circle btn-secondary" onclick="tripIt(this.id)">
                                        <span class="glyphicon glyphicon-bookmark circle-icon-content"
                                              aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td>
                                    <button ng-if="t.tripLabel!=''" id="btnTripLabel|{{t.trip}}|{{t.tripLabel}}"
                                            type="button" class="btn btn-circle btn-secondary"
                                            onclick="editName(this.id);">
                      <span class="glyphicon glyphicon-pencil circle-icon-content" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>
                    <button ng-if="t.tripLabel!=''" id="btnTripAnalytics|{{t.trip}}|{{t.tripLabel}}" type="button" class="btn btn-circle btn-secondary" onclick="showAnalytics(this.id);">
                      <span class="glyphicon glyphicon-info-sign circle-icon-content" aria-hidden="true"></span>
                    </button>
                  </td>
                                <td><a href="#" name="{{t.firstDay}}.{{t.lastDay}}.{{t.trip}}" onclick="showTrip(this)"><strong>{{t.tripLabel}}</strong></a>
                                </td>
                  <td>
                    <div style="float:left;" ng-repeat="d in t.dates">
                      <a name="{{d.ref}}" href="#" onclick="showDay(this)">{{d.dayShort}}</a>
                      <button ng-if="t.tripLabel==''" name="{{d.ref}}" type="button" class="btn btn-xs" onclick="askDeleteDay(this)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </button>
                      &nbsp;&nbsp;
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-router card-track">
                <div class="card-router-header card-track-header">Map</div>
                <div class="card-router-body card-track-body" style="padding: 0%; margin: 0%">
                    <div id="map" style="width: 100%; height: 100%"></div>
                    <div id="mapToolbar">
                        <button name="dwlGPX" type="button" class="btn btn-info" onclick="downloadGPX()">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>GPX
                        </button>
                        <button name="dwlMKL" type="button" class="btn btn-info" onclick="downloadKML()">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>KML
                        </button>
                    </div>
                </div>
        </div>
      </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-router card-track">
                <div class="card-router-header card-track-header">Trip</div>
                <div id="panelInfo" class="card-router-body card-track-body" ng-controller="infoController">
                    <table>
                        <tr ng-if="trip.name!=''">
                            <td class="info_cell">Name</td>
                            <td class="info_cell">{{trip.name}}</td>
                        </tr>
                        <tr>
                            <td class="info_cell">Dates</td>
                            <td class="info_cell">{{trip.start}} - {{trip.end}}</td>
                        </tr>
                        <tr>
                      <td class="info_cell">Trip</td>
                            <td class="info_cell"><strong>{{trip.dist | number:2}}NM ({{trip.distSailing |
                                number:2}}NM)</strong></td>
                  </tr>
                  <tr>
                      <td class="info_cell">Nav time</td>
                      <td class="info_cell"><strong>{{trip.navigationTime}}</strong></td>
                  </tr>
                        <tr>
                            <td class="info_cell">Speed</td>
                            <td class="info_cell"><strong>{{trip.avgspeed | number:2}}Kn ({{trip.maxspeed |
                                number:2}}/{{trip.maxspeed30 | number:2}}Kn)</strong></td>
                        </tr>
                  <tr ng-if="trip.maxspeed1NM>0">
                      <td class="info_cell">1NM Max Speed</td>
                      <td class="info_cell"><strong>{{trip.maxspeed1NM | number:2}}Kn
                          {{trip.maxspeed1N_time_0}}-{{trip.maxspeed1N_time_1}}
                      </strong></td>
                  </tr>
                  <tr ng-if="trip.maxspeed5NM>0">
                      <td class="info_cell">5NM Max Speed</td>
                      <td class="info_cell"><strong>{{trip.maxspeed5NM | number:2}}Kn
                          {{trip.maxspeed5N_time_0}}-{{trip.maxspeed5N_time_1}}
                      </strong></td>
                  </tr>
                  <tr ng-if="trip.maxspeed10NM>0">
                      <td class="info_cell">10NM Max Speed</td>
                      <td class="info_cell"><strong>{{trip.maxspeed10NM | number:2}}Kn
                          {{trip.maxspeed10N_time_0}}-{{trip.maxspeed10N_time_1}}
                      </strong></td>
                  </tr>
              </table>
          </div>
        </div>
      </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-router card-track">
                <div class="card-router-header card-track-header">Speed</div>
                <div class="card-router-body card-track-body">
                    <canvas class="chart-canvas" id="speedChart" ondblclick="resetZoom(this.id);"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-router card-track">
                <div class="card-router-header card-track-header">Wind</div>
                <div class="card-router-body card-track-body">
                    <canvas class="chart-canvas" id="windChart" ondblclick="resetZoom(this.id);"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-router card-track">
                <div class="card-router-header card-track-header">Wind Angle</div>
                <div class="card-router-body card-track-body">
                    <canvas class="chart-canvas" id="windAngleChart" ondblclick="resetZoom(this.id);"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-router card-track">
                <div class="card-router-header card-track-header">Pressure</div>
                <div class="card-router-body card-track-body">
                    <canvas class="chart-canvas" id="pressChart" ondblclick="resetZoom(this.id);"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-router card-track">
                <div class="card-router-header card-track-header">Humidity</div>
                <div class="card-router-body card-track-body">
                    <canvas class="chart-canvas" id="humChart" ondblclick="resetZoom(this.id);"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-router card-track">
                <div class="card-router-header card-track-header">Temperature</div>
                <div class="card-router-body card-track-body">
                    <canvas class="chart-canvas" id="tempChart" ondblclick="resetZoom(this.id);"></canvas>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>

</html>
