<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andrea Boni NMEARouter</title>
	<script src="js/nmearouter.js?o"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB923F46BW5wnvAKd0pztCa37YCUx64ARo&callback=initMap" async defer></script>
	
	<style>
	/* Always set the map height explicitly to define the size of the div
		   * element that contains the map. */
	#map {
		height: 100%;
	}
	/* Optional: Makes the sample page fill the window. */
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	.darkb {
		background-color: darkgray;
	}
	
	.fill {
		min-height: 100%
	}
	
	.DocumentList {
		overflow-y: scroll;
		height: 200px;
		width: 100%;
		padding: 0 15px;
	}
	
	.tripBack {
		background: #eeeeee;
		border-radius: 5px;
		padding: 5px;
	}
	
	#mapToolbar {
	    position:absolute;
	    bottom:30px;
	    left:20px;
	    
	}
	
	</style>
	
</head>

<script type="text/javascript">

	var tempChart = null;
	var windChart = null;
	var pressChart = null;
	var humChart = null;
    var speedChart = null;
    var speedAnalysisChart = null;
	
	var dateFrom = null;
	var dateTo = null;
	
	var days = httpGetCruisingDays();
	app.controller("myCtrl", function($scope) {
		$scope.days = days;  
	});
	
	function showTrip(d) {
		dateFrom = d.name.split(".")[0];
		dateTo = d.name.split(".")[1];
		refreshMap();	  		
	}
	
	function showDay(d) {
		dateFrom = d.name;
		dateTo = d.name;
		refreshMap();	  		
	}
	
	function editName(s) {
		var ss = s.name.split(".");
		var trip = ss[0];
		var name = ss[1];
		bootbox.prompt({
			title: "Trip description",
			message: "Edit description for trip '" + ss[1] + "'",
			value: ss[1],
			callback: function(result)
			{ 
				if (result!=null) {
					changeName(trip, result);
				}
			}
		});
	}
	
	function askDeleteDay(d) {
		bootbox.confirm({
			message: "Confirm deleting track for " + d.name + "?",
			buttons: {
				confirm: {
					label: 'Yes',
					className: 'btn-success'
				},
				cancel: {
					label: 'No',
					className: 'btn-danger'
				}
			},
			callback: function (result) {
				if (result) {
					deleteDay(d);					
				}
			}
		});
	}
	
  	function refreshMap() {
		tempChart = refreshChart(tempChart, "tempChart", "AT0", 0);
		windChart = refreshChart(windChart, "windChart", "TW_", 1);
		pressChart = refreshChart(pressChart, "pressChart", "PR_", 0);
		humChart = refreshChart(humChart, "humChart", "HUM", 0);
        speedChart = refreshSpeedChart(speedChart, "speedChart");
        speedAnalysisChart = refreshSpeedAnalysisChart(speedAnalysisChart, "speedAnalysisChart");
		loadMap(dateFrom, dateTo);	  		
	}

  	function refreshSpeedChart(c, chart) {
		var ctx = document.getElementById(chart);
		if (c!=null) {
			c.destroy();
	  	}
		var c1 = new Chart(ctx, {
	    type: 'line',
	    data: httpLoadSpeedDateRange(dateFrom + "0000", dateTo + "2359", ctx.clientWidth),
	    options: {
	        scales: {
	        	xAxes: [{
	                type: 'time',
	            }]
	        }
	    }
		});
		return c1;
  	}
//httpLoadSpeedAnalysisDateRange(dateFrom + "0000", dateTo + "2359", ctx.clientWidth)
    function refreshSpeedAnalysisChart(c, chart) {
        var ctx = document.getElementById(chart);
        if (c!=null) {
            c.destroy();
        }
        var c1 = new Chart(ctx, {
	        type: 'bar',
	        data: {
	        	labels: ['0.5', '1.0', '1.5', '2.0', '2.5', '3.0', '3.5', '4.0', '4.5', '5.0', '5.5', '6.0',
	        		'6.5', '7.0', '7.5', '8.0', '8.5', '9.0', '9.5', '10.0', '10.5', '11.0', '11.5', '12.0'],
	        	datasets: [httpLoadSpeedAnalysisDateRange(dateFrom + "0000", dateTo + "2359", ctx.clientWidth)]
	        },
	        options: {}	        
        });
        return c1;
    }
  	
  	function refreshChart(c, chart, type, style) {
		var ctx = document.getElementById(chart);
		if (c!=null) {
			c.destroy();
	  	}
		var c1 = new Chart(ctx, {
	    type: 'line',
	    data: httpLoadMeteoDateRange(type, style, dateFrom + "0000", dateTo + "2359", ctx.clientWidth),
	    options: {
	        scales: {
	        	xAxes: [{
	                type: 'time',
	            }]
	        }
	    }
		});
		return c1;
  	}
  	
	function loadMap(dtF, dtT) {
		  var path = httpGetTrack(dtF, dtT);
		  var bounds = new google.maps.LatLngBounds();
	  	  if (path.length>0) {
			  for (i=0; i<path.length; i++) {
				  bounds.extend(new google.maps.LatLng (path[i].lat, path[i].lng));
				  bounds.extend(new google.maps.LatLng (path[i].lat, path[i].lng + 0.016));
				  bounds.extend(new google.maps.LatLng (path[i].lat, path[i].lng - 0.016));
			  }
		  }
		  var mPath = new google.maps.Polyline({
			path: path,
			geodesic: true,
			strokeColor: '#FF0000',
			strokeOpacity: 1.0,
			strokeWeight: 2
		  });
		  var map = new google.maps.Map(document.getElementById('map'), {
			mapTypeId: 'terrain'
		  });
		  var startPoint = { lat: path[0].lat, lng: path[0].lng };
	      var marker = new google.maps.Marker({
	      	position: startPoint,
	      	title: 'Start'
	      });
		  var endPoint = { lat: path[path.length-1].lat, lng: path[path.length-1].lng };
	      var marker1 = new google.maps.Marker({
	      	position: endPoint,
	      	title: 'End'
	      });
		  mPath.setMap(map);		
		  marker.setMap(map);		
		  marker1.setMap(map);		
		  map.setCenter(bounds.getCenter());
		  map.fitBounds(bounds);
	}
	
	function downloadGPX() {
		window.open("http://" + window.location.hostname + ":1112/track?dateFrom=" + dateFrom + 
				"&dateTo=" + dateTo + "&format=gpx", "_blank");
	}

	function downloadKML() {
		window.open("http://" + window.location.hostname + ":1112/track?dateFrom=" + dateFrom + 
				"&dateTo=" + dateTo + "&format=kml", "_blank");
	}
	
</script>

<body ng-app="nmearouter">

	<div id="nmearouter" class="container-fluid fill">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Home</a></li>
			<li class="breadcrumb-item active">Track</li>
		</ol>
		<div class="row">
			<div class="col-md-6" style="min-width:600px">
				<div id="TripsPanel" class="panel panel-primary" ng-controller="myCtrl">
					<div class="panel-heading">
						<h3 class="panel-title">Tracking</h3>
					</div>
					<div id="panel_details" class="panel-body" style="height: 400px">
						<div class="table-responsive DocumentList" style="height: 100%">
							<table class="table">
								<tr ng-repeat="t in days.trips">
									<td>
										<button name="{{t.trip}}.{{t.lastDay}}" type="button"
											class="btn darkb btn-xs" onclick="tripIt(this)">
											<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
										</button>
									</td>
									<td>
										<button ng-if="t.tripLabel!=''"
											name="{{t.trip}}.{{t.tripLabel}}" type="button"
											class="btn darkb btn-xs" onclick="editName(this)">
											<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
										</button>
									</td>
									<td>
										<button ng-if="t.tripLabel!=''" name="{{t.trip}}"
											type="button" class="btn darkb btn-xs" onclick="tripInfo(this)">
											<span class="glyphicon glyphicon-info-sign"
												aria-hidden="true"></span>
										</button>
									</td>
									<td><a href="#" name="{{t.firstDay}}.{{t.lastDay}}" onclick="showTrip(this)"><b>{{t.tripLabel}}</b></a></td>
									<td>
										<div style="float:left;" ng-repeat="d in t.dates">
											<button name="{{d.ref}}" type="button" class="btn darkb btn-xs" style="width:65px; margin:3px;" onclick="showDay(this)">{{d.day}}</button>
											<button ng-if="t.tripLabel==''" name="{{d.ref}}" type="button" class="btn darkb btn-xs"
												onclick="askDeleteDay(this)">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
											&nbsp;&nbsp;
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6" style="min-width:600px">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Map</h3>
					</div>
					<div id="map" class="panel-body" style="height: 400px"></div>
					<div id="mapToolbar">
						<button name="dwlGPX" type="button" 
							class="btn btn-default" onclick="downloadGPX()">
							<span class="glyphicon glyphicon-save" aria-hidden="true"></span>GPX
						</button>
						<button name="dwlMKL" type="button" 
							class="btn btn-default" onclick="downloadKML()">
							<span class="glyphicon glyphicon-save" aria-hidden="true"></span>KML
						</button>
						<button name="refreshBtn" type="button"
							class="btn btn-default" onclick="refreshMap()">
							<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Refresh
						</button>
					</div>
				</div>
			</div>
            <div class="col-md-6" style="min-width:600px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Speed</h3>
                    </div>
                    <div class="panel-body">
                        <canvas style="min-width: 400px; height: 250px" id="speedChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="min-width:600px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Speed Analysis</h3>
                    </div>
                    <div class="panel-body">
                        <canvas style="min-width: 400px; height: 250px" id="speedAnalysisChart"></canvas>
                    </div>
                </div>
            </div>
			<div class="col-md-6" style="min-width:600px">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Wind</h3>
					</div>
					<div class="panel-body">
						<canvas style="min-width: 400px; height: 250px" id="windChart"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-6" style="min-width:600px">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Temperature</h3>
					</div>
					<div class="panel-body">
						<canvas style="min-width: 400px; height: 250px" id="tempChart"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-6" style="min-width:600px">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Pressure</h3>
					</div>
					<div class="panel-body">
						<canvas style="min-width: 400px; height: 250px" id="pressChart"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-6" style="min-width:600px">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Humidity</h3>
					</div>
					<div class="panel-body">
						<canvas style="min-width: 400px; height: 250px" id="humChart"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
