<!DOCTYPE html>
<html xml:lang="en">

<head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andrea Boni NMEARouter</title>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="js/nmearouter.js?b14"></script>
    <link href="css/nmearouter.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="nmeasail.png">
    <script>
    $.getScript("https://maps.googleapis.com/maps/api/js?key=" + getGKey(), function(data, textStatus, jqxhr) {
      console.log(data); //data returned
      console.log(textStatus); //success
      console.log(jqxhr.status); //200
      console.log('GMAP API Lodaded');
      $.getScript("js/maplabel.js", function(d, t, j) {
        console.log('GMAP Labels API Lodaded');
        loadMap();
      });
    });

    </script>
    <style>

    .legs-list {
      overflow-y: scroll;
      padding-right: 15px;
      padding-left: 15px;
      height: 400px;
      margin-bottom: 5px;
    }

    .leg-navigator {
      border-color: darkslategrey;
      border-width: 2px;
      border-radius: 5px;
      border-style: solid;
      padding: 5px;
      margin-bottom: 5px;
    }

    .tile-wrapper {
    }

    .card-trip-body {
      height: 85px;
      text-align: right;
    }

    .tile-title {
      font-size: larger;
      text-align: left;
    }

    .tile-value1 {
      font-size: medium;
      text-align: right;
    }

    .tile-value2 {
      font-size: medium;
      text-align: right;
    }

    .tile-value3 {
      font-size: medium;
      text-align: right;
    }

    .tile-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      grid-gap: 5px;
    }

    .chart-wrapper {
      position: relative;
      margin-top: 5px;
      min-width: 300px;
      min-height: 300px;
    }

    .chart-canvas {
    }

    .map {
      margin-top: 5px;
      min-width: 300px;
      min-height: 300px;
    }


  </style>

</head>

<script type="text/javascript">

  var tripId = getUrlVars()["trip"];
  var tripName = decodeURI(getUrlVars()["name"]);
  var tripObject = httpGetTripAnalytics(tripId);
  var current = tripObject;
  var currentLegIx = 0;
  var pieChart;
  var windChart;
  var speedDistrChart;
  var speedChart;
  var windStatsChart;
  var rollChart;
  var rollDistrChart;
  var pressChart;
  var listVisible = false;
  var map;
  var paths;
  var markerStart;
  var markerEnd;

  var windStatsTick = 36;

  const MAX_SPEED = 9.0;
  const MIN_SPEED = 3.0;

  document.addEventListener('keydown', anKeyPress);

  {
    tripObject["startT"] = Date.parse(tripObject.start);
    tripObject["endT"] = Date.parse(tripObject.end);
    tripObject["max01NMSpeedTime0T"] = Date.parse(tripObject.max01NMSpeedTime0);
    tripObject["max01NMSpeedTime1T"] = Date.parse(tripObject.max01NMSpeedTime1);
    tripObject["max05NMSpeedTime0T"] = Date.parse(tripObject.max05NMSpeedTime0);
    tripObject["max05NMSpeedTime1T"] = Date.parse(tripObject.max05NMSpeedTime1);
    tripObject["max10NMSpeedTime0T"] = Date.parse(tripObject.max10NMSpeedTime0);
    tripObject["max10NMSpeedTime1T"] = Date.parse(tripObject.max10NMSpeedTime1);
    tripObject["maxAvgSpeedTimeT"] = Date.parse(tripObject.maxAvgSpeedTime);
    tripObject["maxSampledSpeedTimeT"] = Date.parse(tripObject.maxSampledSpeedTime);
    tripObject["maxSpeedTimeT"] = Date.parse(tripObject.maxSpeedTime);
    tripObject.legs.forEach(element => {
      element["startT"] = Date.parse(element.start);
      element["endT"] = Date.parse(element.end);
      element["max01NMSpeedTime0T"] = Date.parse(element.max01NMSpeedTime0);
      element["max01NMSpeedTime1T"] = Date.parse(element.max01NMSpeedTime1);
      element["max05NMSpeedTime0T"] = Date.parse(element.max05NMSpeedTime0);
      element["max05NMSpeedTime1T"] = Date.parse(element.max05NMSpeedTime1);
      element["max10NMSpeedTime0T"] = Date.parse(element.max10NMSpeedTime0);
      element["max10NMSpeedTime1T"] = Date.parse(element.max10NMSpeedTime1);
      element["maxAvgSpeedTimeT"] = Date.parse(element.maxAvgSpeedTime);
      element["maxSampledSpeedTimeT"] = Date.parse(element.maxSampledSpeedTime);
      element["maxSpeedTimeT"] = Date.parse(element.maxSpeedTime);
    });
  }

  app.controller("infoController", function ($scope) {
    $scope.trip = tripObject;
    $scope.current = tripObject;
    $scope.tripName = tripName;
    $scope.currentLegIx = currentLegIx;
    $scope.legLabel = "Trip";
    $scope.numberOfLegs = tripObject.legs.length;
    loadMe();
  });

  app.filter('percentage', ['$filter', function ($filter) {
    return function (input, decimals) {
      return $filter('number')(input * 100, decimals) + '%';
    };
  }]);

  function getUrlVars() {
      var vars = {};
      var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
          vars[key] = value;
      });
      return vars;
  }

  function dateToYMD(date) {
    return new moment(date).format("YYYYMMDDHHmmssZZ");
  }

  function getTime(s) {
    var t = s.split(":");
    return Math.round((t[0] * 60 * 60 + t[1] * 60 + t[2])/3600)/100;
  }

  function loadMe() {
    speedChart = createLineChart('speedChart', 'Boat SOG (Kn)');
    windChart = createLineChart('windChart', 'Wind speed (Kn)');
    rollChart = createLineChart('rollChart', 'Boat roll (Deg)');
    pressChart = createLineChart('pressChart', 'Atmo (MB)');
    speedDistrChart = createBarChart('speedDistrChart', '', getLabelArray(0.5, 0.5, 32, 1), ['Nm motoring', 'Nm sailing'], ['Orange', 'Blue'], false);    
    rollDistrChart = createBarChart('rollDistrChart', '', getLabelArray(-45, 5, 19, 0), ['Time heeling'], ['Orange'], true);
    createWindStatsChart();
    loadTimeChart();
    loadSpeedDistrChart();
  }

  function loadSpeedDistrChart() {
    res = []; resS = [];
    for (i = 0; i<current.speedDistribution.length; i++) { res.push(current.speedDistribution[i].distance); }
    for (i = 0; i<current.speedDistributionSail.length; i++) { resS.push(current.speedDistributionSail[i].distance); }
    speedDistrChart.data.datasets[0].data = res;
    speedDistrChart.data.datasets[1].data = resS;
    speedDistrChart.update();
  }

  function createBarChart(elementId, chartTitle, labels, datasetNames, datasetColors, percent) {
    let datasets = [];
    for (i = 0; i<datasetNames.length; i++) {
      let dataset = {
        data: [],
          label: datasetNames[i],
          backgroundColor: datasetColors[i]
      }
      datasets.push(dataset);
    };

    if (percent) {
      opt = {
        title: {
            display: true,
            text: chartTitle
          },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            ticks: {
              callback: function (value) {
                return value.toLocaleString('en-EN', {style:'percent'});
              }
            }
          }]
        }
      }
    } else {
      opt = {
        title: {
            display: true,
            text: chartTitle
          },
        responsive: true,
        maintainAspectRatio: false
      }
    }

    ctx = document.getElementById(elementId);
    _chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: datasets
      },
      options: opt
    });
    return _chart;
  }

  function createOrFillPieChart(data, text) {
    if (pieChart==null) {
      ctx = document.getElementById("pieChart");
      pieChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: {
          responsive: true,
          maintainAspectRatio: false,
          title: {
            display: true,
            text: text
          },
          legend: {
            position: "right"
          }
        }
      });
    } else {
      pieChart.data = data;
      pieChart.options.title.text = text;
      pieChart.update();
    }
  }

  function loadTimeChart() {
    var data = {
      datasets: [{
          data: [getTime(tripObject.navEngineOffTime), getTime(tripObject.navEngineOn_Time), getTime(tripObject.navEngineUnkTime), getTime(tripObject.anchorTime)],
          backgroundColor: ["blue", "red", "orange", "gray"],

      }],
      labels: [
          'Sail',
          'Engine',
          'Unknownn',
          'Anchor'
      ]
    }
    createOrFillPieChart(data, 'Trip Time breakdown (H)');
  }

  function loadDistChart() {
    var data = {
      datasets: [{
          data: [Math.round(current.navEngineOffDist * 100)/100,
            Math.round(current.navEngineOn_Dist * 100)/100,
            Math.round(current.navEngineUnkDist * 100)/100],
          backgroundColor: ["blue", "red", "orange"],

      }],
      labels: [
          'Sail',
          'Engine'
      ]
    }
    createOrFillPieChart(data, 'Leg distance breakdown (NM)');
  }

  function nextLeg() {
    do {
      currentLegIx = (currentLegIx + 1) % (tripObject.legs.length+1);
      // skip legs too short
    } while (document.getElementById("L" + currentLegIx)==null);
    updateLegsPanels();
  }

  function previousLeg() {
    do {
      currentLegIx = (currentLegIx + tripObject.legs.length) % (tripObject.legs.length+1);
      // skip legs too short
    } while (document.getElementById("L" + currentLegIx)==null);
    updateLegsPanels();
  }

  function updateLegsPanels() {
    panel = updateLegViews();
    legList = document.getElementById("legList");
    viewHeight = legList.offsetHeight;
    panelBottom = panel.offsetTop;
    panelTop = panel.offsetTop - panel.offsetHeight;
    viewBottom = legList.scrollTop + legList.offsetHeight;
    viewTop = legList.scrollTop;
    if (panelBottom > viewBottom) {
      legList.scrollTo(0, panelBottom - viewHeight + 30);
    } else if (panelTop < viewTop) {
      legList.scrollTo(0, panelTop);
    }
  }

  function getLegIx(leg) {
    return parseInt(leg.id.substring(1));
  }

  function switchLeg(leg){
    currentLegIx = getLegIx(leg);
    updateLegViews();
  }

  function updateLegViews() {
    for (i = 0; i<=tripObject.legs.length; i++) {
      sL = "L" + i;
      panel = document.getElementById(sL);
      if (panel!=null) {
        panel.className = "row alert alert-primary";  // Otherwise, use `second_name`
      }
    }
    panel = document.getElementById("L"+currentLegIx);
    panel.className = "row alert alert-secondary";   // Set other class name

    if (currentLegIx==0) current = tripObject;
    else current = tripObject.legs[currentLegIx-1];

    if (currentLegIx==0) {
      loadTimeChart();
    } else {
      loadDistChart();
    }

    loadSpeedDistrChart();

    if (currentLegIx>0) {
      httpLoadSpeedDateRange(dateToYMD(new Date(current.startT)), dateToYMD(new Date(current.endT)), onFillSpeedChart);
      httpLoadWindStatsDateRange(dateToYMD(new Date(current.startT)), dateToYMD(new Date(current.endT)), windStatsTick, onFillWindStatsChart);
      httpLoadAllMeteoDateRange(dateToYMD(new Date(current.startT)), dateToYMD(new Date(current.endT)), onFillMeteoData);
    } else {
      resetChart(speedChart);
      resetChart(windStatsChart);
      resetChart(windChart);
      resetChart(rollChart);
      resetChart(rollDistrChart);
      resetChart(pressChart);
    }

    var controllerElement = document.getElementById('nmearouter');
    var controllerScope = angular.element(controllerElement).scope();
    controllerScope.current = current;
    controllerScope.currentLegIx = currentLegIx;
    controllerScope.legLabel = (currentLegIx==0)?"Trip":("Leg " + currentLegIx);
    controllerScope.$evalAsync();

    loadMap();

    return panel;
  }

  function createLineChart(elementName, chartTitle) {
    ctx = document.getElementById(elementName);
    _chart = new Chart(ctx, {
        type: 'line',
        data: {
          datasets: [{
            data: []
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          spanGaps: false,
          title: {
            display: true,
            text: chartTitle
          },
          legend: { display: false },
          scales: { xAxes: [{ type: 'time', }] }
        }
      });    
    return _chart;
  }

  function onFillMeteoData(data) {

    pressChart.data.datasets = [
      getSerie(data, 'PR_', 'v', 'blue', false, 0.0)
    ];
    pressChart.update();

    windChart.data.datasets = [
      getSerie(data, "TW_", "v",    "blue", false, 0.0),
      getSerie(data, "TW_", "vMin", "gray", false, 0.0),
      getSerie(data, "TW_", "vMax", "orange", false, 0.0)
    ];
    windChart.update();

    fillRollDistrData(data, "ROL", "v", 5.5);

    rollChart.data.datasets = [
      getSerie(data, "ROL", "v", "blue", true, 5.5)
    ];
    rollChart.update();
  }

  function fillRollDistrData(data, name, attr, correction) {
    res = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
    var sr = data[name];
    var lastT = 0;
    
    for (i = 0; i<sr.length; i++) {
      var item = sr[i];
      var t = item['time'];
      if (lastT==0 || lastT<t) {
        r = parseFloat(item[attr]) + correction;

        rA = Math.min(Math.round(Math.abs(r) / 5), 9);
        if (r>=0.0) {
          rA = 9 + rA; 
          res[rA]++;
        } else {
          rA = 9 - rA;
          res[rA]--;
        }
        lastT = t;
      } else {
        console.log("Out of sync items!")
      }
    }

    let leg_duration_minutes = (current.endT - current.startT)/60000;
    for (i = 0; i<res.length; i++) {
      res[i] = res[i] / leg_duration_minutes;
    }

    rollDistrChart.data.datasets = [{
          data: res,
          label: "Time heeling",
          backgroundColor: "orange"
        }];
    rollDistrChart.update();
  }

  function createWindStatsChart() {
    var color = 'blue';
    var colors = [];
    var labels = [];
    var dataempty = [];
    for (i = 0; i<windStatsTick; i++) {
      colors.push(color);
      labels.push("" + (i * (360 / windStatsTick)) + "°");
      dataempty.push(0.0);
    }
    ctx = document.getElementById('windPolarChart');
    windStatsChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
          datasets: [{
            data: dataempty,
            backgroundColor: colors,
            borderColor: colors
          }],
          labels: labels
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: { display: false },
          title: {
            display: true,
            text: 'Wind'
          },
          scale: {
            ticks: {
              display: false,
              fontColor: 'white',
              backdropColor: '#0000'
            }
          }
        }
      });
  }

  function onFillWindStatsChart(windData) {
    var colors = [];
    var d = [];
    var l = [];
    for (i = 0; i<windStatsTick; i++) {
      var wMax = (windData.values[i].windMaxSpeed + windData.values[i].windAvgSpeed) / 2.0;
      var b_coeff = 1.0 - Math.min(1.0, (wMax / 10.0));
      var g_coeff = 1.0 - Math.min(1.0, Math.abs(13.0 - wMax) / 7.0);
      var r_coeff = Math.min(1.0, Math.max(0.0, wMax - 10.0) / 30.0);
      l.push('' + (i*360/windStatsTick) + '° Max ' + windData.values[i].windMaxSpeed + 'Kn')
      var red = (0xFF * r_coeff).toFixed();
      var blue = (0xFF * b_coeff).toFixed();
      var green = (0xFF * g_coeff).toFixed();
      colors.push('rgb(' + red +',' + green + ',' + blue + ')');
      d.push(windData.values[i].windDistance);
    }
    windStatsChart.data = {
        datasets: [{
        data: d,
        backgroundColor: colors,
        borderWidth: 1
      }],
      labels: l
    };
    windStatsChart.update();
  }

  function resetChart(chart) {
    if (chart!=null) {
      chart.data.datasets = [{
        data: []
      }];
      chart.update();
    }
  }

  function onFillSpeedChart(speedSerie, leg) {
    speedChart.data.datasets = [
      getSerie(speedSerie, "SOG", "v",    "blue", false, 0.0),
      getSerie(speedSerie, "SOG", "vMin", "gray", false, 0.0),
      getSerie(speedSerie, "SOG", "vMax", "orange", false, 0.0)
    ];
    speedChart.update();
  }

  function getSerie(data, serie, attr, color, fill, correction) {
    return {
      		data: getDataPoints(data, serie, attr, correction),
      		borderColor: color,
          backgroundColor: "#FFFFFF25",
          pointRadius: 0,
          lineTension: 0,
          fill: fill
      	};
  }

  function getDataPoints(data, name, attr, correction) {
    var dt = [];
    var sr = data[name];
    var i;
    var lastT = 0;
    for (i = 0; i<sr.length; i++) {
      var item = sr[i];
      var t = item['time'];
      if (lastT==0 || lastT<t) {
        var datapoint = new Object();
        datapoint.x = new Date(t);
        datapoint.y = parseFloat(item[attr]) + correction;
        lastT = t;
      } else {
        console.log("Out of sync items!")
      }
      dt.push(datapoint);
    }
    return dt;
  }

  function highlight(leg, yesno){

    var panel = document.getElementById(leg);
    if (yesno) { // Check the current class name
        panel.className = "row alert alert-secondary";   // Set other class name
    } else {
        panel.className = "row alert alert-primary";  // Otherwise, use `second_name`
    }
  }

  function anKeyPress(e) {
    if (e.code=="ArrowLeft")
      previousLeg();
    else if (e.code=="ArrowRight")
      nextLeg();
  }

  class MyTile extends HTMLElement {
    static get observedAttributes() {
      return ['title', 'value1', 'value2', 'value3'];
    }

    get title() {
      return this.getAttribute('title');
    }

    get value1() {
      return this.getAttribute('value1');
    }

    get value2() {
      return this.getAttribute('value2');
    }

    connectedCallback() {
      var v1 = this.getAttribute('value1'); v1 = (v1==null)?"":v1;
      var v2 = this.getAttribute('value2'); v2 = (v2==null)?"":v2;
      var v3 = this.getAttribute('value3'); v3 = (v3==null)?"":v3;

      this.innerHTML = "<div class='card-router card-trip'>"
        + "  <div class='card-router-header card-trip-header'>" + this.getAttribute('title') + "</div>"
        + "  <div class='card-router-body card-trip-body'>"
        + "    <div class='tile_value1'>" + v1 + "</div>"
        + "    <div class='tile_value2'>" + v2 + "</div>"
        + "    <div class='tile_value3'>" + v3 + "</div>"
        + "  </div>"
        + "</div>";
    }
  }

  customElements.define('my-tile', MyTile);

  function expandLegList(toggle) {
    listVisible = !listVisible;
    if (listVisible)
      $('#legListContainer').collapse('show');
    else
      $('#legListContainer').collapse('hide');
    toggle.className = listVisible?"glyphicon glyphicon-chevron-up":"glyphicon glyphicon-chevron-down";
  }

  function loadMap() {

    var s = moment(current.startT).format("YYYYMMDDHHmmssZZ");
    var e = moment(current.endT).format("YYYYMMDDHHmmssZZ")
    httpGetTrackByDate(s, e, fillMap);
  }

  function getState(pp) {
    if (pp.anchor) return 3;
    else return pp.eng;
  }

  function navAnalysis(p) {
    var ss = new Array();
    if (p.length>0) {
      lastPoint = null;
      lastState = -1;
      currStint = null;
      for (i = 0; i < p.length; i++) {
        pp = p[i];
        state = getState(pp);
        if (state!=lastState) {
          lastState = state;
          if (currStint!=null && currStint.dur>0) {
            currStint.durS = formatTime(currStint.end-currStint.start);
            ss.push(currStint);
          }
          currStint = {
            eng: state,
            start: pp.time,
            end: pp.time,
            dur: 0,
            durS: '00:00:00',
            points: [ ]
          };
          if (lastPoint!=null) currStint.points.push(lastPoint);
          currStint.points.push(pp);
        } else {
          currStint.end = pp.time;
          currStint.dur = currStint.end - currStint.start;
          currStint.points.push(pp);
        }
        lastPoint = pp;
      }
      currStint.durS = formatTime(currStint.end-currStint.start);
      ss.push(currStint);
    }
    return ss;
  }

  function formatTime(millisecs) {
    d = millisecs
    ss = d % 60000;
    d = Math.floor(d / 60000);
    mm = d % 60;
    d = Math.floor(d / 60);
    hh = d;
    return "" + hh + ":" + ("00" + mm).slice(-2) + ":" + ("00" + ss).slice(-2);
  }

  function hue(speed) {
    d = +1;
    hM = 360;
    hm = 180;
    sM = MAX_SPEED;
    sm = MIN_SPEED;
    s = Math.max(sm, Math.min(speed, sM));
    return d * (s - sm)/(sM-sm) * (hM - hm) + hm;
  }

  function fillMap(p) {
    var bounds = new google.maps.LatLngBounds();
    if (p.length > 0) {
      for (i = 0; i < p.length; i++) {
        bounds.extend(new google.maps.LatLng(p[i].lat, p[i].lng));
        bounds.extend(new google.maps.LatLng(p[i].lat, p[i].lng + 0.016));
        bounds.extend(new google.maps.LatLng(p[i].lat, p[i].lng - 0.016));
      }
    }
    var stints = navAnalysis(p);

    var _paths = [];
    for (i = 0; i < stints.length; i++) {
      stint = stints[i];
      if (stint.eng!=3) {
        color = (stint.eng==0)?'blue':((stint.eng==1)?'gray':'orange');
        if (stint.eng==0) {
          for (x = 1; x < stint.points.length; x++) {
            _speed = stint.points[x].speed;
            _hue = hue(_speed);
            color = "hsl(" + _hue + ", 100%, 50%)"; //hsv2rgb(_hue, _saturation, 1);
            _path = new google.maps.Polyline({
              path: [stint.points[x-1], stint.points[x]],
              geodesic: true,
              strokeColor: color,
              strokeOpacity: 1.0,
              strokeWeight: 2
            });
            _paths.push(_path);
          }
        } else {
          _path = new google.maps.Polyline({
            path: stint.points,
            geodesic: true,
            strokeColor: color,
            strokeOpacity: 1.0,
            strokeWeight: 2
          });
          _paths.push(_path);
        }
      }
    }

    if (map==null) {
      map = new google.maps.Map(document.getElementById('map'), {
        mapTypeId: 'terrain'
      });

      var legend = document.getElementById("legend");

      innerhtml = "<table>";
      for (i  = MIN_SPEED; i<=MAX_SPEED; i++) {
        innerhtml += "<tr><td style='background-color: hsl(" + hue(i) + ", 100%, 50%)'>" + i + "Kn</td></tr>";
      }
      innerhtml += "</table>"
      legend.innerHTML = innerhtml;

      map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(legend);
    }
    var startPoint = { lat: p[0].lat, lng: p[0].lng };
    var marker = new google.maps.Marker({
      position: startPoint,
      label: 'Start',
      title: 'Start'
    });
    var endPoint = { lat: p[p.length - 1].lat, lng: p[p.length - 1].lng };
    var marker1 = new google.maps.Marker({
      position: endPoint,
      label: 'End',
      title: 'End'
    });


    if (paths!=null) {
      paths.forEach(function (path) { path.setMap(null); });
      markerEnd.setMap(null);
      markerStart.setMap(null);
    }
    _paths.forEach(function (path) { path.setMap(map); });
    marker.setMap(map);
    marker1.setMap(map);
    paths = _paths;
    markerStart = marker;
    markerEnd = marker1;
    map.setCenter(bounds.getCenter());
    map.fitBounds(bounds);
  }
</script>

<body ng-app="nmearouter">

<div id="nmearouter" class="container-fluid" ng-controller="infoController">
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active"><a href="track.html">Track</a></li>
                <li class="breadcrumb-item active">Trip</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col" id="legPanel">
            <div class="leg-navigator">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <a href="" onclick="previousLeg();"><span class="glyphicon glyphicon-chevron-left"
                                                                      aria-hidden="true"></span></a> {{legLabel}} of
                            {{numberOfLegs}} Legs&nbsp;
                            <a href="" onclick="nextLeg();"><span class="glyphicon glyphicon-chevron-right"
                                                                  aria-hidden="true"></span></a> "{{tripName}}"
                        </td>
                        <td style="text-align: right;">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"
                                  onclick="expandLegList(this);"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="collapse" id="legListContainer">
                <div class="legs-list" id="legList">
                    <div class="row alert alert-success">
                        <div class="col-2">Leg</div>
                        <div class="col-4">Date & time</div>
                        <div class="col-3">Duration & dist</div>
                        <div class="col-3">Sail dur & dist</div>
                    </div>
                    <div class="row alert alert-secondary" onclick="switchLeg(this)" id="L0">
                        <div class="col-2">Trip</div>
                        <div class="col-4">{{trip.startT | date:'short'}}<br>{{trip.endT | date:'short'}}
                        </div>
                        <div class="col-3">{{trip.navTime}}<br>{{trip.navDist | number:2}}NM<br>{{trip.speedAverage |
                            number:2}}KN
                        </div>
                        <div class="col-3">{{trip.navEngineOffTime}}<br>{{trip.navEngineOffDist | number:2}}NM<br>{{trip.speedSailAverage
                            | number:2}}KN
                        </div>
                    </div>
                    <div class="row alert alert-primary" ng-repeat="leg in trip.legs" ng-if="leg.navDist>1.0"
                         onclick="switchLeg(this)" id="L{{leg.leg}}">
                        <div class="col-2">Leg {{leg.leg}}</div>
                        <div class="col-4">{{leg.startT | date:'short'}}<br>{{leg.endT | date:'short'}}
                        </div>
                        <div class="col-3">{{leg.navTime}}<br>{{leg.navDist | number:2}}NM<br>{{leg.speedAverage |
                            number:2}}KN
                        </div>
                        <div class="col-3">{{leg.navEngineOffTime}}<br>{{leg.navEngineOffDist | number:2}}NM<br>{{leg.speedSailAverage
                            | number:2}}KN
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="tile-container">
                <div class="tile-wrapper">
                    <my-tile title="Trip" value1="{{current.start | date:'short'}}"
                             value2="{{current.end | date:'short'}}"
                             value3="{{current.totalTime}}"
                    ></my-tile>
                </div>
                <div class="tile-wrapper">
                    <my-tile title="Navigation" value1="{{current.navTime}}"
                             value2="{{current.navDist | number:2}} NM"
                             value3="Avg {{current.speedAverage | number:2}} KN"></my-tile>
                </div>
                <div class="tile-wrapper">
                    <my-tile title="Sail" value1="{{current.navEngineOffTime}}"
                             value2="{{current.navEngineOffDist | number:2}} NM"
                             value3="Avg {{current.speedSailAverage | number:2}} KN"></my-tile>
                </div>
                <div class="tile-wrapper">
                    <my-tile title="Engine" value1="{{current.navEngineOn_Time}}"
                             value2="{{current.navEngineOn_Dist | number:2}} NM"
                             value3="Avg {{current.speedEngAverage | number:2}} KN"></my-tile>
                </div>
                <div class="tile-wrapper">
                    <my-tile title="Best 1 NM" value1="{{current.max01NMSpeed | number:2}} KN"
                             value2="{{current.max01NMSpeedTime0T | date:'short'}}"
                             value3="{{current.max01NMSpeedTime1T | date:'short'}}"></my-tile>
                </div>
                <div class="tile-wrapper">
                    <my-tile title="Best 5 NM" value1="{{current.max05NMSpeed | number:2}} KN"
                             value2="{{current.max05NMSpeedTime0T | date:'short'}}"
                             value3="{{current.max05NMSpeedTime1T | date:'short'}}"></my-tile>
                </div>
                <div class="tile-wrapper">
                    <my-tile title="Best 10 NM" value1="{{current.max10NMSpeed | number:2}} KN"
                             value2="{{current.max10NMSpeedTime0T | date:'short'}}"
                             value3="{{current.max10NMSpeedTime1T | date:'short'}}"></my-tile>
                </div>
                <!--div class="tile-wrapper">
                    <my-tile title="30s Speed" value1="Max {{current.maxAvgSpeed | number:2}} KN"
                             value2="{{current.maxAvgSpeedTimeT | date:'short'}}" value3=""></my-tile>
                </div-->
                <div class="tile-wrapper">
                    <my-tile title="Speed" value1="Max {{current.maxSpeed | number:2}} KN"
                             value2="{{current.maxSpeedTimeT | date:'short'}}" value3=""></my-tile>
                </div>
                <div class="tile-wrapper">
                    <my-tile title="Distance%" value1="Sail {{current.relativeEngOffDist | percentage:1}}"
                             value2="Engine {{current.relativeEngOn_Dist | percentage:1}}"
                             value3="Unknown {{current.relativeEngUnkDist | percentage:1}}"></my-tile>
                </div>
                <div class="tile-wrapper">
                    <my-tile title="Time%" value1="Sail {{current.relativeEngOffTime | percentage:1}}"
                             value2="Engine {{current.relativeEngOn_Time | percentage:1}}"
                             value3="Unknown {{current.relativeEngUnkTime | percentage:1}}"></my-tile>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="chart-wrapper card-router">
                <canvas class="chart-canvas" id="pieChart"></canvas>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="chart-wrapper card-router">
                <canvas class="chart-canvas" id="speedDistrChart"></canvas>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="chart-wrapper card-router">
                <canvas class="chart-canvas" id="speedChart"></canvas>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="map card-router" id="map"></div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="chart-wrapper card-router">
                <canvas class="chart-canvas" id="windPolarChart"></canvas>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="chart-wrapper card-router">
                <canvas class="chart-canvas" id="windChart"></canvas>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="chart-wrapper card-router">
              <canvas class="chart-canvas" id="pressChart"></canvas>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="chart-wrapper card-router">
              <canvas class="chart-canvas" id="rollChart"></canvas>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="chart-wrapper card-router">
                <canvas class="chart-canvas" id="rollDistrChart"></canvas>
            </div>
        </div>
    </div>
</div>

<div id="legend">
</div>

</body>
</html>